---
const path = Astro.url.pathname;
const isContact = path.startsWith("/contact");
const footerClasses = {
  footer: isContact ? "footer footer-contact" : "footer",
  content: isContact ? "footer-content footer-content-white" : "footer-content",
  textPrimary: isContact ? "footer-text-primary-white" : "",
  textSecondary: isContact ? "footer-text-secondary-white" : "",
};
---

<footer class={footerClasses.footer}>
  <div class="container stack-column gap-3">
    <div
      class=`stack-row--mobile-column flex-justify-between  ${footerClasses.content}`
    >
      <div class="stack-column gap-3 flex-justify-between infos-footer-box">
        <div class="stack-column gap-1">
          <img
            src=`/${isContact? "logo-king-kang.svg" : "king-kang-logo-grey.svg"}`
            class="logo-footer"
          />
          <h4 class=`text-logo ${footerClasses.textPrimary}`>King Kang</h4>
        </div>

        <div class="stack-row gap-1">
          <img src="/flag-france.svg" />
          <p class=`subtext-footer ${footerClasses.textSecondary}`>
            Données hébergées en france
          </p>
        </div>
      </div>

      <div class="stack-row--mobile-column gap-8 links-container">
        <div class="stack-column gap-1">
          <h5 class=`title-list ${footerClasses.textSecondary}`>Navigation</h5>
          <ul class="menu-footer stack-column gap-1">
            <li>
              <a
                href="/"
                class=`menu-item-footer ${footerClasses.textSecondary}`
              >
                Accueil
              </a>
            </li>
            <li>
              <a
                href="#fonctionnalités"
                class=`menu-item-footer ${footerClasses.textSecondary}`
                >Fonctionnalités
              </a>
            </li>
            <li>
              <a
                href="#prix"
                class=`menu-item-footer ${footerClasses.textSecondary}`>Prix</a
              >
            </li>
            <li>
              <a
                href="/blog"
                class=`menu-item-footer ${footerClasses.textSecondary}`>Blog</a
              >
            </li>
            <li>
              <a
                href="/contact"
                class=`menu-item-footer ${footerClasses.textSecondary}`
              >
                Contact
              </a>
            </li>
          </ul>
        </div>

        <div class="stack-column gap-1 list-footer">
          <h5 class=`title-list ${footerClasses.textSecondary}`>
            Informations
          </h5>
          <ul class="menu-footer stack-column gap-1">
            <li>
              <a
                href="/"
                class=`menu-item-footer ${footerClasses.textSecondary}`
              >
                Mentions Légales
              </a>
            </li>
            <li>
              <a
                href="/"
                class=`menu-item-footer ${footerClasses.textSecondary}`
              >
                CGU
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="stack-row flex-justify-between">
      <p class=`subtext-footer  ${footerClasses.textSecondary}`>
        <span id="year"></span>
      </p>

      <div class="stack-row gap-2-5">
        <a href="/" class=`menu-item-footer ${footerClasses.textSecondary}`>
          <img
            src=`/${isContact ? "facebook-white.svg": "facebook.svg"}`
            class="social-logo"
          />
        </a>
        <a href="/">
          <img src=`/${isContact ? "linkedin-white.svg":"linkedin.svg"}` />
        </a>
        <a href="/">
          <img src=`/${isContact ? "x-white.svg" : "x.svg"}` />
        </a>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer {
    margin-top: var(--space-xl);
    padding-top: var(--space-6);
    padding-bottom: var(--space-2-5);
    background: var(--color-background-light);
  }
  .logo-footer {
    height: 54px;
    width: fit-content;
  }
  .text-logo {
    color: var(--color-text-secondary) !important;
    font-weight: 500;
  }
  .subtext-footer {
    color: var(--color-text-secondary);
    font-size: var(--font-size-xs);
    white-space: nowrap;
  }
  .footer-content {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: var(--space-3);
  }
  .list-footer {
    max-width: 400px;
  }
  .title-list {
    font-size: var(--font-size-md);
    color: var(--color-text-secondary) !important;
    font-weight: 400 !important;
  }
  .menu-item-footer {
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
    transition: opacity 0.3s ease;
    font-weight: 700;
  }

  .infos-item-footer {
    font-size: var(--font-size-xs);
  }

  .footer-content-white {
    border-color: rgba(255, 255, 255, 0.1);
  }

  .footer-contact {
    background: #082439;
  }

  .footer-text-primary-white {
    color: white !important;
  }

  .footer-text-secondary-white {
    color: var(--color-border) !important;
  }

  a:hover {
    opacity: 0.65;
  }

  @media (max-width: 1024px) {
    .footer {
      margin-top: var(--space-8);
      padding-top: var(--space-4);
      padding-left: var(--space-3-5);
      padding-right: var(--space-3-5);
    }
    .links-container {
      gap: var(--space-4);
    }
    .infos-footer-box {
      margin-bottom: var(--space-3);
    }
    .logo-footer {
      height: 50px;
    }
  }
</style>

<script>
  const yearElement = document.getElementById("year");

  if (yearElement) {
    const currentYear: number = new Date().getFullYear();
    yearElement.textContent = currentYear.toString();
  }
</script>
